<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">Binaried Me Blog</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li [ng-class]="tabs.Home" (click)="activateMe('Home')"> <a [router-link]="['/Home']">Home</a></li>
                <li [ng-class]="tabs.Myprofile" (click)="activateMe('Myprofile')"> <a [router-link]="['/Myprofile']">My Profile</a></li>
            </ul>
        </div>
        <div class="pull-right">
            {{user.userObject.loginFlag}}
            <ul class="nav navbar-nav">
                <li>
                    <span [hidden]="!user.userObject.loginFlag" style="color : green;">{{greetMe()}}&nbsp;&nbsp;&nbsp;&nbsp;<a style="color : red;" href="/logout">Logout</a></span>
                </li>
                <li>
                    <span [hidden]="user.userObject.loginFlag" style="color : green;">{{greetMe()}}&nbsp;&nbsp;&nbsp;&nbsp;<a style="color : red;" href="/auth">Login</a></span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <edit-setting-panel></edit-setting-panel>
    <br/>
    <div class="row" style="padding: 10px;background-color: #FFF; border-top: 2px solid #808080; height: 100%;">
            <div class="col-sm-3">
                <side-bar></side-bar>
            </div>
            <div class="col-sm-7">
                <router-outlet></router-outlet>
            </div>
            <div class="col-sm-2">
<h5 style="height: 100%">Comments : </h5>
            </div>
    </div>
</div>

</div>
