
<div><h4>Searching for some inspiring shits...???</h4>
<p>I mean some goods and some bads and then proving one or other that goods are overshadowing bads.... Oh, come on...&nbsp;</p>
<p>You are looking at a failure and yes... Just plain failure... So why you should be here and read out about me when I am a failure...</p>
<p>Okay... no learning... Please don't say that failure teaches you more...</p>
<p>No come on... I ain't here to bore you with that shitty logic.... Although I don't disagree with that either...&nbsp;</p>
<p><br></p>
<p>Its just that guyz like me if any, don't give a shit about anything..... Yes!!! Anything...</p>
<p>I am writing here so that if somehow you happen to exprience the same that just remember that you are not the only one there...</p>
<p>You are not unique... You are not the only one suffering... suffering from shits.... real shits...</p>
<p>So where are we... I mean we are no where .... But where are we heading to???...</p>
<p><br></p>
<p><br></p></div>

